.asana-details-container {
  margin: 3%;
  padding: 3%;
  display: block;
  text-align: center;
}

.imgSizeLimited {
  max-width: 100%;
  margin: auto;
}
.imgContainer {
  margin: auto;
  max-width: 100%;
  margin: 50px 0;
}
