<mat-card class="example-card p-3">
  <mat-card-header>
    <div mat-card-avatar>
      <img src={{pose.url_svg}} alt="" />
    </div>
    <mat-card-title>{{ pose.english_name }}</mat-card-title>
    <mat-card-subtitle>{{ pose.sanskrit_name_adapted }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src={{pose.url_png}}
    alt="asanas photo"
    class="imgSizeLimited"
  />
  <mat-card-content>
    <p>
      {{ pose.pose_description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
