<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav-container"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <h2>Yoga App</h2>
    <hr />

    <!-- SIDEBAR -->
    <app-tree-nav></app-tree-nav>
    <!-- SIDEBAR -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-switch-theme class="buttonPositioner"></app-switch-theme>
    </mat-toolbar>
    <!-- contenido -->
    <app-asana [pose]="this.poseClicked"></app-asana>
  </mat-sidenav-content>
</mat-sidenav-container>
